@import "tailwindcss";
/* Thin & sleek scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.5);
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}
